:root {
 --white: #fff;
 --black: #000;
 --font-color-base: #212529;
 --font-color-light: #b0aebe;
 --font-color-link: #57a6ff;
 --footer: #34334b;
 --footer-base: #2e2b45;
--contrast: var(--font-color-light);
--success: #64ecf5;
--danger: #ff8b8d;
--grad-1: #a1ecff;
--grad-2: #7dbcff;
}

body {
  font-family: "open sans" , sans-serif;
  font-weight: 400;
  font-size: 0.075rem;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;

}

* 
  ::after, 
  ::before {
   box-sizing: border-box;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

a {
  text-decoration: none;
  color: var(--font-color-base);
  
}

p {
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

/* 100% of the parent's width */

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

